footer {
    padding: 140px 0 80px;
    @media screen and (max-width: $mobile) {
        padding: 80px 0 30px;
    }
}

footer .container > * {
    width: calc((100%/3) - (12rem/3));
    padding: 0 15px;
}

// première colonne

.infos {
    color: $date;
    line-height: 1.8;
    font-size: 14px;
    p {
        width: 90%;
        margin-bottom: 35px;
    }
    img {
        margin-bottom: 30px;
        width: 125px;
    }
    @media screen and (max-width: $mobile) {
        p, address {
            width: 330px;
        }
    }
}

address {
    font-style: normal;
    width: 90%;
}

// deuxième colonne

.popular-posts {
    h4 {
        margin-top: 0;
        margin-bottom: 38px;
        font-size: 22px;
        font-weight: 700;
    }
    article {
        margin-bottom: 20px;
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 18px;
    }
    a {
        color: #fff;
    }
    img {
        width: 86px;
    }
    @media screen and (max-width: $mobile) {
        a, h4 {
            width: 180px;
        }
    }
}

// troisième colonne

[src="img/gallery/body_card4.png"] {
    width: 270px;
    @media screen and (max-width: $mobile) {
        width: 500px;
    }
}