img {
    display: block;
    width: 100%;
    border-radius: 5px;
}

a {
    text-decoration: none;
    &:hover {
        color: $red;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.black-bg {
    background-color: black;
    color: $gray;
}

.gray-bg {
    background-color: $gray;
}

.red-bg {
    background-color: $red;
}

.white-bg {
    background-color: white;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.grid-4-1 {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.grid-1-4 {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.grid-2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.grid-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-1-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.flex-3 {
    display: flex;
    justify-content: space-between;
    gap: $gap;
    @media screen and (max-width: $mobile) {
        flex-direction: column;
    }
}

.x-spacing {
    gap: $gap;
}

// mobile

@media screen and (max-width: $mobile) {
    .container {
        width: 510px;
    }
    .p-none {
        display: none;
    }
    .grid-4-1 {
        display: flex;
        justify-content: space-between;
    }
}