.nav {
    .logo {
        display: none;
    }
}

.burger-menu {
    display: none;
}

@media screen and (max-width: $mobile) {
    .nav {
        padding: 6px;
        position: relative;
        ul, .search {
            display: none;
        }
        .logo {
            display: block;
        }
    }
    .burger-menu {
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        div:nth-of-type(1) {
            margin-bottom: 5px;
        }
        div:nth-of-type(3) {
            margin-top: 5px;
        }
    }
    .burger-menu > * {
        background-color: #fff;
        width: 31px;
        height: 4px;
        display: block;
    }
}