.mission-vision {
    padding: 120px 0 100px;
}

.services {
    position: relative;
}

.services-content {
    padding: 100px 0 100px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
}

.team {
    padding: 120px 0 100px;
}